<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Springs Publishing LLC - Article Feed</title>
    <link>https://swelbyboy.github.io/prospect-rss-feeds/springs-publishing-llc.xml</link>
    <description>Latest articles from Springs Publishing LLC (reporternewspapers.net)</description>
    <atom:link href="https://swelbyboy.github.io/prospect-rss-feeds/springs-publishing-llc.xml" rel="self"/>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>Prospect Scraping Service</generator>
    <language>en</language>
    <lastBuildDate>Fri, 30 Jan 2026 07:09:49 +0000</lastBuildDate>
    <item>
      <title>🥯 Beltline bagels x 2</title>
      <link>https://roughdraftatlanta.com/2026/01/29/beltline-bagels-x-2/</link>
      <description>💗 Keep reading for cute drinks! Jan. 29 — Hello, internet friends! I don’t think you need me to remind you that this January has been an intense year. The news reports are overwhelming, and the below-freezing temperatures have overstayed their welcome IMO. Still, that doesn’t negate the bright spots I’ve seen this week, like the lock-in Our Bar […] The post 🥯 Beltline bagels x 2 appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/01/29/beltline-bagels-x-2/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2025/03/Daily-Newsletter-on-website-7-Side-Dish-450x375.png" length="0" type="image/png"/>
      <pubDate>Thu, 29 Jan 2026 20:23:46 +0000</pubDate>
    </item>
    <item>
      <title>Woodruff Arts Center unveils new family-friendly expansion</title>
      <link>https://roughdraftatlanta.com/2026/01/29/alliance-theatre-goizueta-stage/</link>
      <description>Key Points The Woodruff Arts Center celebrated the grand opening of the Goizueta Stage for Youth and Families and PNC PlaySpace, a new family-friendly expansion to Midtown’s arts hub, on Jan. 28. Designed with young audiences in mind, the space elevates accessibility, imagination, and inclusion. The immersive and interactive forest-themed PNC PlaySpace will be open […] The post Woodruff Arts Center unveils new family-friendly expansion appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/01/29/alliance-theatre-goizueta-stage/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/01/IMG_55241-600x443.jpg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 29 Jan 2026 20:48:37 +0000</pubDate>
    </item>
    <item>
      <title>UK fintech company Ekko opens Atlanta office to bring climate tools to US payments market</title>
      <link>https://roughdraftatlanta.com/2026/01/29/ekko-us-headquarters-atlanta/</link>
      <description>Ekko, a London-based payments technology company, has chosen Atlanta as its US headquarters to help American financial institutions integrate environmental features into their checkout and transaction systems. The post UK fintech company Ekko opens Atlanta office to bring climate tools to US payments market appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/01/29/ekko-us-headquarters-atlanta/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/01/ekko-founders-600x431.png" length="0" type="image/png"/>
      <pubDate>Thu, 29 Jan 2026 21:18:31 +0000</pubDate>
    </item>
    <item>
      <title>‘ICE Out Everywhere’ protests, walkouts planned this weekend</title>
      <link>https://roughdraftatlanta.com/2026/01/29/ice-out-protest-atlanta/</link>
      <description>Protests against the crackdown by Immigration and Customs Enforcement and the killing of two U.S. citizens in Minneapolis this month by ICE agents are taking place across the country this weekend, including metro Atlanta. The “ICE Out Everywhere” protest is calling for a day of “no work, no school, no shopping” on Friday, Jan. 30. […] The post ‘ICE Out Everywhere’ protests, walkouts planned this weekend appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/01/29/ice-out-protest-atlanta/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/01/lakesidehighprotest-553x600.jpg" length="0" type="image/jpeg"/>
      <pubDate>Fri, 30 Jan 2026 01:09:47 +0000</pubDate>
    </item>
    <item>
      <title>Atlanta Falcons tap Ian Cunningham as GM, completing leadership overhaul</title>
      <link>https://roughdraftatlanta.com/2026/01/29/atlanta-falcons-ian-cunningham-gm/</link>
      <description>The Atlanta Falcons have hired Ian Cunningham as their new general manager, bringing in a front office executive with two Super Bowl rings and a division title with the Chicago Bears. The post Atlanta Falcons tap Ian Cunningham as GM, completing leadership overhaul appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/01/29/atlanta-falcons-ian-cunningham-gm/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/01/Ian-Cunningham-Falcons-600x338.webp" length="0" type="image/webp"/>
      <pubDate>Fri, 30 Jan 2026 04:21:56 +0000</pubDate>
    </item>
  </channel>
</rss>
