<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Springs Magazine - Article Feed</title>
    <link>https://swelbyboy.github.io/prospect-rss-feeds/springs-magazine.xml</link>
    <description>Latest articles from Springs Magazine (springsmag.com)</description>
    <atom:link href="https://swelbyboy.github.io/prospect-rss-feeds/springs-magazine.xml" rel="self"/>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>Prospect Scraping Service</generator>
    <language>en</language>
    <lastBuildDate>Sat, 04 Apr 2026 06:22:06 +0000</lastBuildDate>
    <item>
      <title>How to Eat Oysters and Celebrate Oyster Month at Jax - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/how-to-celebrate-oyster-month-at-jax-seafood-colorado-springs/</link>
      <description>How Jax got its own signature oyster, plus Oyster Month celebration events and tasting tips for oyster newbies and pros in Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/how-to-celebrate-oyster-month-at-jax-seafood-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Jax-oyster-platter-horizontal.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 05 Mar 2026 18:09:01 +0000</pubDate>
    </item>
    <item>
      <title>Where to Celebrate St. Patrick’s Day in Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/where-to-celebrate-st-patricks-day-in-colorado-springs/</link>
      <description>Here’s where celebrate St. Patrick’s Day in Colorado Springs: from the St. Patrick’s Day Parade and 5K to downtown pub festivities .</description>
      <guid isPermaLink="false">https://springsmag.com/where-to-celebrate-st-patricks-day-in-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/St-Paricks-Day-Parade-selfies-ODonnell.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 09 Mar 2026 18:23:23 +0000</pubDate>
    </item>
    <item>
      <title>Favorite Irish Pubs in Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/favorite-irish-pubs-colorado-springs/</link>
      <description>St. Patrick’s Day or year-round, enjoy Old World style and alehouse community at these favorite Irish pubs in Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/favorite-irish-pubs-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2024/03/Jack-Quinns-Celtic-jam-courtesy.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Tue, 10 Mar 2026 14:32:05 +0000</pubDate>
    </item>
    <item>
      <title>Endure Adventures Connects Colorado Mountain Bikers to Global Impact - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/endure-adventures-colorado-springs-mountain-bike-trips-global-impact/</link>
      <description>A Colorado rider discovers a deeper way to travel on a mountain biking adventure trip with Endure Adventures in Guatemala.</description>
      <guid isPermaLink="false">https://springsmag.com/endure-adventures-colorado-springs-mountain-bike-trips-global-impact/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/McCrights-Bikes-puppy-Guatemala.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Wed, 11 Mar 2026 20:16:52 +0000</pubDate>
    </item>
    <item>
      <title>Sherwood Showdown Brings Archery Dodgeball to Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/archery-dodgeball-hits-bullseye-at-sherwood-showdown-colorado-springs/</link>
      <description>Looking for fun things to do in Colorado Springs? Here’s an inside look at archery dodgeball at the new Sherwood Showdown.</description>
      <guid isPermaLink="false">https://springsmag.com/archery-dodgeball-hits-bullseye-at-sherwood-showdown-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Sherwood-Showdown-2-archers-Kara-Hudzinski.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Tue, 17 Mar 2026 23:45:48 +0000</pubDate>
    </item>
    <item>
      <title>Name the Train in Colorado’s Front Range Passenger Rail Contest - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/have-you-voted-yet-to-name-the-train/</link>
      <description>Colorado’s Front Range Passenger Rail gains momentum toward train service connecting Denver, Colorado Springs, Pueblo, Fort Collins and more.</description>
      <guid isPermaLink="false">https://springsmag.com/have-you-voted-yet-to-name-the-train/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/FRPR-Name-Train-Ranger2.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Wed, 18 Mar 2026 20:15:58 +0000</pubDate>
    </item>
    <item>
      <title>Highlights of the MeadowGrass 2026 Music Lineup - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/highlights-of-the-meadowgrass-2026-music-lineup/</link>
      <description>There’s another stellar music lineup in store for the MeadowGrass Music Festival 2026. Here are highlights.</description>
      <guid isPermaLink="false">https://springsmag.com/highlights-of-the-meadowgrass-2026-music-lineup/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Sturtz-plays-barn-MeadowGrass.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 19 Mar 2026 06:55:04 +0000</pubDate>
    </item>
    <item>
      <title>The 30 Best Restaurants in Colorado Springs - Springsmag</title>
      <link>https://springsmag.com/best-restaurants-in-colorado-springs/</link>
      <description>What are the best restaurants in Colorado Springs? Our annual our Top 30 list answers. From fine dining to casual, get updates on favorites.</description>
      <guid isPermaLink="false">https://springsmag.com/best-restaurants-in-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2024/03/Oro-Tasting13-Mussels-courtesy.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Sat, 21 Mar 2026 18:14:38 +0000</pubDate>
    </item>
    <item>
      <title>People’s Choice: Find the Best Tax Services in Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/peoples-choice-find-the-best-tax-services-in-colorado-springs/</link>
      <description>Where can I find the best tax services in Colorado Springs? Here are the Best Tax Preparation winners from our People’s Choice Awards.</description>
      <guid isPermaLink="false">https://springsmag.com/peoples-choice-find-the-best-tax-services-in-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Peoples-Choice-Tax-Lockhart-Powell-2.jpg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 23 Mar 2026 14:57:42 +0000</pubDate>
    </item>
    <item>
      <title>America 250 - Colorado 150 Celebrates Sesquisemiquincentennial All Year - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/america-250-colorado-150-celebrates-sesquisemiquincentennial-all-year/</link>
      <description>Here’s an overview of Sesquisemiquincentennial America 250 - Colorado 150 celebrations of the U.S. 250th birthday and Colorado’s 150th.</description>
      <guid isPermaLink="false">https://springsmag.com/america-250-colorado-150-celebrates-sesquisemiquincentennial-all-year/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Gen-Palmer-Statue-Pikes-Peak-Gaylon-Wampler.jpg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 26 Mar 2026 02:24:59 +0000</pubDate>
    </item>
    <item>
      <title>New Sushi Mori Japanese Restaurant Shines - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/new-sushi-mori-japanese-restaurant-shines/</link>
      <description>With veteran chef Young Kim behind the sushi bar, this new Japanese restaurant Sushi Mori is a standout in Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/new-sushi-mori-japanese-restaurant-shines/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Sushi-Mori-a-wase-Jones.jpg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 26 Mar 2026 20:06:58 +0000</pubDate>
    </item>
    <item>
      <title>Trivia Night in the Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/trivia-night-in-the-springs/</link>
      <description>Here's how to choose your team, find your game, and win trivia night in Colorado Springs almost any night of the week. Updated regularly.</description>
      <guid isPermaLink="false">https://springsmag.com/trivia-night-in-the-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2024/08/Trivia-Night-Triviality-OCC-Brewing.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Fri, 27 Mar 2026 13:30:35 +0000</pubDate>
    </item>
    <item>
      <title>5 Best Things To Do in Colorado Springs This Weekend</title>
      <link>https://springsmag.com/5-best-things-to-do-in-colorado-springs-this-weekend/</link>
      <description>Top events and entertainment you don’t want to miss, including live music by alternative rock band, Cracker, a Feast of the Seven Fishes culinary tradition and a citywide Kwanzaa celebration.</description>
      <guid isPermaLink="false">https://springsmag.com/5-best-things-to-do-in-colorado-springs-this-weekend/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2024/12/Untitled-design-2-e1735490454552.png" length="0" type="image/png"/>
      <pubDate>Tue, 31 Mar 2026 12:00:19 +0000</pubDate>
    </item>
    <item>
      <title>Where to Find Free Bingo in Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/where-to-find-free-bingo-in-colorado-springs/</link>
      <description>Looking for a fun things to do? Here are the breweries, bars and restaurants with music bingo and other bingo in Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/where-to-find-free-bingo-in-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/04/Icons-Bingo-Daubers-Simison-crop.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Wed, 01 Apr 2026 16:44:35 +0000</pubDate>
    </item>
    <item>
      <title>Poor Richard’s Sells to New Local Owners - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/poor-richards-sells-to-new-local-owners/</link>
      <description>Richard Skorman sells the cherished 51-year-old Poor Richard’s restaurant, coffee bar, bookshop and toy store in downtown Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/poor-richards-sells-to-new-local-owners/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2025/05/Poor-Richards-door-Jones.jpg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 02 Apr 2026 03:19:16 +0000</pubDate>
    </item>
  </channel>
</rss>
