<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Springs Magazine - Article Feed</title>
    <link>https://swelbyboy.github.io/prospect-rss-feeds/springs-magazine.xml</link>
    <description>Latest articles from Springs Magazine (springsmag.com)</description>
    <atom:link href="https://swelbyboy.github.io/prospect-rss-feeds/springs-magazine.xml" rel="self"/>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>Prospect Scraping Service</generator>
    <language>en</language>
    <lastBuildDate>Wed, 11 Feb 2026 07:35:45 +0000</lastBuildDate>
    <item>
      <title>Ambli to Reopen as Amore Italian Grille</title>
      <link>https://springsmag.com/ambli-kitchen-bar-to-reopen-as-amore-italian-grille/</link>
      <description>A change is on the menu as Ambli Kitchen + Bar reopens Jan. 29 as Amore Italian Grille. While the name and concept have evolved, the elevated experience remains, along with the same culinary team led by chef and co-owner Ricardo Morffin. The update reflects a move toward a more defined regional identity the ownership […] The post Ambli to Reopen as Amore Italian Grille appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/ambli-kitchen-bar-to-reopen-as-amore-italian-grille/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/01/Arancini-Amore-Italian-Grille-150x150.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Fri, 23 Jan 2026 18:18:15 +0000</pubDate>
    </item>
    <item>
      <title>The Team Behind Team USA Gears up for Milan Cortina Olympics</title>
      <link>https://springsmag.com/team-at-us-olympic-center-colorado-springs-prepares-milan-cortina-olympics/</link>
      <description>If you peek inside Mike Beagley’s suitcase on his way overseas, you might be surprised by one of his must-haves — peanut butter. Beagley has traveled enough to know what’s hard to find, so crunchy Jif always makes the trip with him. Peanut butter is also a favorite for many of the athletes he supports, […] The post The Team Behind Team USA Gears up for Milan Cortina Olympics appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/team-at-us-olympic-center-colorado-springs-prepares-milan-cortina-olympics/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/01/US-Figure-Skating-Team-Milan-Cortina-2026-150x150.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 26 Jan 2026 19:32:41 +0000</pubDate>
    </item>
    <item>
      <title>10 of the Best Cheap Eats in Colorado Springs Now</title>
      <link>https://springsmag.com/10-of-the-best-cheap-eats-in-colorado-springs/</link>
      <description>When it comes to eating out, who doesn’t want great food at an affordable price? The catch is that keyword: affordable. It’s no secret that food costs have soared for both diners and restaurants since the pandemic, making it all the more challenging to eat out on a budget. But there are still great values […] The post 10 of the Best Cheap Eats in Colorado Springs Now appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/10-of-the-best-cheap-eats-in-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/01/503W-Table-Dishes-150x150.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Wed, 28 Jan 2026 22:47:08 +0000</pubDate>
    </item>
    <item>
      <title>Fashion Meets Art as House of GOCA Returns to the Ent Center</title>
      <link>https://springsmag.com/fashion-meets-art-as-house-of-goca-returns-to-the-ent-center/</link>
      <description>The Law of Conservation of Energy states that energy cannot be created or destroyed, only transformed from one form to another. It’s a key theme in The Source Never Diminishes, the newest exhibit at the Galleries of Contemporary Art Marie Walsh Sharpe Gallery at the Ent Center for the Arts, aka GOCA. And the creative […] The post Fashion Meets Art as House of GOCA Returns to the Ent Center appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/fashion-meets-art-as-house-of-goca-returns-to-the-ent-center/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/01/House-of-GOCA-2025-Ent-Center-dancers-150x150.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Fri, 30 Jan 2026 23:31:27 +0000</pubDate>
    </item>
    <item>
      <title>Winter Fest and the USOPM Go Big to Celebrate the Olympics</title>
      <link>https://springsmag.com/winter-fest-olympi-museum-go-big-to-celebrate-milano-cortina-winter-olympics/</link>
      <description>It’s an Olympic year in Olympic City USA, and that makes it a special place to enjoy and celebrate the Games. As the world turns its attention to the 2026 Milano Cortina Winter Olympic and Paralympic Games, the U.S. Olympic &amp;amp; Paralympic Museum will once again become the heart of the Games in Colorado Springs […] The post Winter Fest and the USOPM Go Big to Celebrate the Olympics appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/winter-fest-olympi-museum-go-big-to-celebrate-milano-cortina-winter-olympics/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2022/01/WinterFest-torch_SportsCorp-150x150.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 02 Feb 2026 19:51:59 +0000</pubDate>
    </item>
    <item>
      <title>5 Best Things to Do in Colorado Springs This Weekend</title>
      <link>https://springsmag.com/5-best-things-to-do-in-colorado-springs-this-weekend/</link>
      <description>Top events and entertainment you don’t want to miss, including award-winning indie films, an Olympic countdown celebration, Earth Day at Garden of the Gods and more. The post 5 Best Things to Do in Colorado Springs This Weekend appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/5-best-things-to-do-in-colorado-springs-this-weekend/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/02/DorranceDance92NY_115-Enhanced-NR-copy-2-150x150.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Tue, 03 Feb 2026 15:00:19 +0000</pubDate>
    </item>
    <item>
      <title>14 Romantic Restaurants for Date Night in Colorado Springs</title>
      <link>https://springsmag.com/romantic-restaurants-for-date-night/</link>
      <description>We’re all for creative dates and fun activities, but there’s good reason going out to dinner is a classic date night. Sitting down, sharing a meal, pausing and talking are all great ways to connect — or reconnect — with a special someone. There’s also the full sensory experience of eating good food, savoring the […] The post 14 Romantic Restaurants for Date Night in Colorado Springs appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/romantic-restaurants-for-date-night/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2024/02/Romantic-Tokki-couple-150x150.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Wed, 04 Feb 2026 15:50:01 +0000</pubDate>
    </item>
    <item>
      <title>Angelo’s Taverna and Carboy Winery to Open in Colorado Springs</title>
      <link>https://springsmag.com/angelos-taverna-and-carboy-winery-to-open-in-colorado-springs/</link>
      <description>In a place once known for beer and pizza, Carboy Winery and Angelo’s Taverna are trading big-screen TVs and quick pours for Colorado wines and Old World Italian recipes. The former Old Chicago at Woodmen Road and I-25 will reopen this summer as a layered dining experience, stacking a rooftop winery above an Italian taverna. […] The post Angelo’s Taverna and Carboy Winery to Open in Colorado Springs appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/angelos-taverna-and-carboy-winery-to-open-in-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/02/Carboy-Angelos-Tavern-Mussels-150x150.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Sat, 07 Feb 2026 22:59:46 +0000</pubDate>
    </item>
    <item>
      <title>12 Special Meals and Treats for Valentine’s, Galentine’s and Palentine’s</title>
      <link>https://springsmag.com/12-special-meals-and-treats-for-valentines-galentines-and-palentines/</link>
      <description>Oh Valentine’s Day, is there a holiday more loved and hated at the same time? Or one that has spawned more spinoff celebrations? Whatever your relationship status or views on commercialization, the fact is that the calendar is full of special events and dinners where you can celebrate Valentine’s Day, Galentine’s Day or Palentine’s Day. […] The post 12 Special Meals and Treats for Valentine’s, Galentine’s and Palentine’s appeared first on Springsmag Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/12-special-meals-and-treats-for-valentines-galentines-and-palentines/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/02/Galentines-at-RYZE-150x150.jpg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 09 Feb 2026 19:29:43 +0000</pubDate>
    </item>
  </channel>
</rss>
