<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Springs Publishing LLC - Article Feed</title>
    <link>https://swelbyboy.github.io/prospect-rss-feeds/springs-publishing-llc.xml</link>
    <description>Latest articles from Springs Publishing LLC (reporternewspapers.net)</description>
    <atom:link href="https://swelbyboy.github.io/prospect-rss-feeds/springs-publishing-llc.xml" rel="self"/>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>Prospect Scraping Service</generator>
    <language>en</language>
    <lastBuildDate>Mon, 02 Mar 2026 07:20:25 +0000</lastBuildDate>
    <item>
      <title>Atlanta Fringe announces 14th annual festival lineup</title>
      <link>https://roughdraftatlanta.com/2026/03/01/atlanta-fringe-festival-2026/</link>
      <description>The lineup for the 14th annual Atlanta Fringe Festival, the city’s performing arts festival dedicated to non-traditional shows from artists in Georgia and across the world, has been announced. This year’s lineup includes 27 Georgia-based artists and 22 traveling artists performing everything from live theater, dance, and spoken word to clowning, magic, and comedy. The festival […] The post Atlanta Fringe announces 14th annual festival lineup appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/01/atlanta-fringe-festival-2026/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2025/05/fringe-1-600x434.jpg" length="0" type="image/jpeg"/>
      <pubDate>Sun, 01 Mar 2026 18:26:00 +0000</pubDate>
    </item>
    <item>
      <title>Wrong turn leads to chaos in Publix Atlanta Half Marathon women’s race</title>
      <link>https://roughdraftatlanta.com/2026/03/01/wrong-turn-leads-to-chaos-at-publix-atlanta-half-marathon/</link>
      <description>Three elite runners were led off course by an official race vehicle during the U.S. Half Marathon Championships in Atlanta, costing them a shot at the national title and likely a spot on Team USA. The post Wrong turn leads to chaos in Publix Atlanta Half Marathon women’s race appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/01/wrong-turn-leads-to-chaos-at-publix-atlanta-half-marathon/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/03/YouTube-Screenshot-Half-Marathon-600x333.png" length="0" type="image/png"/>
      <pubDate>Sun, 01 Mar 2026 19:47:06 +0000</pubDate>
    </item>
    <item>
      <title>Annual wine auction benefiting High Museum moves to Pullman Yards for 2026</title>
      <link>https://roughdraftatlanta.com/2026/03/01/high-museum-atlanta-wine-auction-pullman-yards/</link>
      <description>The High Museum's annual Atlanta Wine Auction will relocate to Pullman Yards in Kirkwood for its 2026 event, featuring winemaker dinners, a live auction luncheon, and the Palette &amp;amp; Pour reception, with proceeds benefiting the High's exhibitions and education programs. The post Annual wine auction benefiting High Museum moves to Pullman Yards for 2026 appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/01/high-museum-atlanta-wine-auction-pullman-yards/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/02/HighMuseum_3.22.25_AAAA5218_O2-1-600x400.jpg" length="0" type="image/jpeg"/>
      <pubDate>Sun, 01 Mar 2026 20:00:00 +0000</pubDate>
    </item>
    <item>
      <title>Beloved salon dog Archer recovered 20 miles from Dunwoody a month to the day and time of disappearance</title>
      <link>https://roughdraftatlanta.com/2026/03/01/dog-found-after-month-search/</link>
      <description>After a month of searching, Douglas Nitcher was reunited with his beloved dog Archer, who had been found more than 20 miles away from the salon where he had gone missing, thanks to the help of a kind stranger and the support of the community. The post Beloved salon dog Archer recovered 20 miles from Dunwoody a month to the day and time of disappearance appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/01/dog-found-after-month-search/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/02/archer-edited-600x450.jpeg?crop=1" length="0" type="image/jpeg"/>
      <pubDate>Sun, 01 Mar 2026 23:49:24 +0000</pubDate>
    </item>
    <item>
      <title>APD make 14 arrests in ‘teen takover’ on the Beltline</title>
      <link>https://roughdraftatlanta.com/2026/03/01/teen-takeover-atlanta-beltline/</link>
      <description>The Atlanta Police Department arrested 14 on Saturday evening after a large group of juveniles gathered on the Atlanta Beltline Eastside Trail. According to the report, officers responded to shots fired on North Avenue and a dispute on Ponce de Leon Avenue as part of a “teen takeover” along the corridor and nearby businesses. Officers recovered […] The post APD make 14 arrests in ‘teen takover’ on the Beltline appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/01/teen-takeover-atlanta-beltline/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2025/07/Atlanta-Police-Department-APD-600x383.png" length="0" type="image/png"/>
      <pubDate>Mon, 02 Mar 2026 02:30:46 +0000</pubDate>
    </item>
  </channel>
</rss>
