<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Springs Magazine - Article Feed</title>
    <link>https://swelbyboy.github.io/prospect-rss-feeds/springs-magazine.xml</link>
    <description>Latest articles from Springs Magazine (springsmag.com)</description>
    <atom:link href="https://swelbyboy.github.io/prospect-rss-feeds/springs-magazine.xml" rel="self"/>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>Prospect Scraping Service</generator>
    <language>en</language>
    <lastBuildDate>Tue, 24 Mar 2026 15:29:23 +0000</lastBuildDate>
    <item>
      <title>ShopGiv App Makes It Easy to Support Nonprofits in Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/new-shopgiv-app-makes-it-easy-to-do-good-while-you-shop/</link>
      <description>Local business owner launches ShopGiv, an app that makes it easy to support local nonprofits simply by shopping the way you already do.</description>
      <guid isPermaLink="false">https://springsmag.com/new-shopgiv-app-makes-it-easy-to-do-good-while-you-shop/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/ShopGiv_App_Mockup_800x533-1-2.png" length="0" type="image/png"/>
      <pubDate>Mon, 02 Mar 2026 18:21:26 +0000</pubDate>
    </item>
    <item>
      <title>How to Eat Oysters and Celebrate Oyster Month at Jax - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/how-to-celebrate-oyster-month-at-jax-seafood-colorado-springs/</link>
      <description>How Jax got its own signature oyster, plus Oyster Month celebration events and tasting tips for oyster newbies and pros in Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/how-to-celebrate-oyster-month-at-jax-seafood-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Jax-oyster-platter-horizontal.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 05 Mar 2026 18:09:01 +0000</pubDate>
    </item>
    <item>
      <title>Where to Celebrate St. Patrick’s Day in Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/where-to-celebrate-st-patricks-day-in-colorado-springs/</link>
      <description>Here’s where celebrate St. Patrick’s Day in Colorado Springs: from the St. Patrick’s Day Parade and 5K to downtown pub festivities .</description>
      <guid isPermaLink="false">https://springsmag.com/where-to-celebrate-st-patricks-day-in-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/St-Paricks-Day-Parade-selfies-ODonnell.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 09 Mar 2026 18:23:23 +0000</pubDate>
    </item>
    <item>
      <title>Favorite Irish Pubs in Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/favorite-irish-pubs-colorado-springs/</link>
      <description>St. Patrick’s Day or year-round, enjoy Old World style and alehouse community at these favorite Irish pubs in Colorado Springs.</description>
      <guid isPermaLink="false">https://springsmag.com/favorite-irish-pubs-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2024/03/Jack-Quinns-Celtic-jam-courtesy.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Tue, 10 Mar 2026 14:32:05 +0000</pubDate>
    </item>
    <item>
      <title>Endure Adventures Connects Colorado Mountain Bikers to Global Impact - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/endure-adventures-colorado-springs-mountain-bike-trips-global-impact/</link>
      <description>A Colorado rider discovers a deeper way to travel on a mountain biking adventure trip with Endure Adventures in Guatemala.</description>
      <guid isPermaLink="false">https://springsmag.com/endure-adventures-colorado-springs-mountain-bike-trips-global-impact/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/McCrights-Bikes-puppy-Guatemala.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Wed, 11 Mar 2026 20:16:52 +0000</pubDate>
    </item>
    <item>
      <title>5 Best Things To Do in Colorado Springs This Weekend</title>
      <link>https://springsmag.com/5-best-things-to-do-in-colorado-springs-this-weekend/</link>
      <description>Top events and entertainment you don’t want to miss, including live music by alternative rock band, Cracker, a Feast of the Seven Fishes culinary tradition and a citywide Kwanzaa celebration.</description>
      <guid isPermaLink="false">https://springsmag.com/5-best-things-to-do-in-colorado-springs-this-weekend/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2024/12/Untitled-design-2-e1735490454552.png" length="0" type="image/png"/>
      <pubDate>Mon, 16 Mar 2026 12:00:19 +0000</pubDate>
    </item>
    <item>
      <title>Sherwood Showdown Brings Archery Dodgeball to Colorado Springs - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/archery-dodgeball-hits-bullseye-at-sherwood-showdown-colorado-springs/</link>
      <description>Looking for fun things to do in Colorado Springs? Here’s an inside look at archery dodgeball at the new Sherwood Showdown.</description>
      <guid isPermaLink="false">https://springsmag.com/archery-dodgeball-hits-bullseye-at-sherwood-showdown-colorado-springs/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Sherwood-Showdown-2-archers-Kara-Hudzinski.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Tue, 17 Mar 2026 23:45:48 +0000</pubDate>
    </item>
    <item>
      <title>Name the Train in Colorado’s Front Range Passenger Rail Contest - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/have-you-voted-yet-to-name-the-train/</link>
      <description>Colorado’s Front Range Passenger Rail gains momentum toward train service connecting Denver, Colorado Springs, Pueblo, Fort Collins and more.</description>
      <guid isPermaLink="false">https://springsmag.com/have-you-voted-yet-to-name-the-train/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/FRPR-Name-Train-Ranger2.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Wed, 18 Mar 2026 20:15:58 +0000</pubDate>
    </item>
    <item>
      <title>Highlights of the MeadowGrass 2026 Music Lineup - Springsmag Colorado Springs</title>
      <link>https://springsmag.com/highlights-of-the-meadowgrass-2026-music-lineup/</link>
      <description>There’s another stellar music lineup in store for the MeadowGrass Music Festival 2026. Here are highlights.</description>
      <guid isPermaLink="false">https://springsmag.com/highlights-of-the-meadowgrass-2026-music-lineup/</guid>
      <enclosure url="https://springsmag.com/wp-content/uploads/2026/03/Sturtz-plays-barn-MeadowGrass.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 19 Mar 2026 06:55:04 +0000</pubDate>
    </item>
  </channel>
</rss>
