<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Web - Article Feed</title>
    <link>https://swelbyboy.github.io/prospect-rss-feeds/web.xml</link>
    <description>Latest articles from Web (africanmediamalta.com)</description>
    <atom:link href="https://swelbyboy.github.io/prospect-rss-feeds/web.xml" rel="self"/>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>Prospect Scraping Service</generator>
    <language>en</language>
    <lastBuildDate>Wed, 25 Mar 2026 02:40:29 +0000</lastBuildDate>
    <item>
      <title>PEN Malta  rejects "colonialist aggression" in Venezuela</title>
      <link>https://www.africanmediamalta.com/post/pen-malta-rejects-colonialist-aggression-in-venezuela</link>
      <description>PEN Malta has issued a sharp warning over the deteriorating situation in Venezuela. The group explicitly rejects any foreign military intervention or "colonialist aggression".Highlighting the severe dangers facing writers and journalists. The organization strongly condemned the government of Nicolás Maduro, accusing it of using repression and censorship to silence critical voices and harm society.While PEN Malta stands firmly against authoritarian rule, it also issued a clear warning to the inte</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/pen-malta-rejects-colonialist-aggression-in-venezuela</guid>
      <enclosure url="https://static.wixstatic.com/media/afbed2_72c352b2fb044fa5b7b70562bb275c40~mv2.jpg/v1/fill/w_602,h_521,al_c,lg_1,q_80/afbed2_72c352b2fb044fa5b7b70562bb275c40~mv2.jpg" length="0" type="image/jpeg"/>
      <pubDate>Tue, 06 Jan 2026 10:59:30 +0000</pubDate>
    </item>
    <item>
      <title>Empower to Integrate – Season 1 Recap &amp;amp; Season 2 Preview</title>
      <link>https://www.africanmediamalta.com/post/empower-to-integrate-season-1-overview</link>
      <description>Empower to Integrate is a radio programme created to provide a platform for migrants and Third Country Nationals (TCNs) to share their lived experiences while engaging in meaningful dialogue with Maltese experts and institutions. The programme promotes inclusion, understanding, and social cohesion through structured and respectful conversations.Season 1 of Empower to Integrate, broadcast from 4 April to 4 July 2025, featured 13 episodes and 25 guests from diverse nationalities and professional b</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/empower-to-integrate-season-1-overview</guid>
      <enclosure url="https://static.wixstatic.com/media/7d3433_3b2aeac2d7d7414daeedb1998c323914~mv2.jpg/v1/fill/w_1000,h_667,al_c,q_85,usm_0.66_1.00_0.01/7d3433_3b2aeac2d7d7414daeedb1998c323914~mv2.jpg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 19 Jan 2026 00:54:30 +0000</pubDate>
    </item>
    <item>
      <title>Rethinking Collaboration in African Diaspora Communities:Lessons for Collective Growth</title>
      <link>https://www.africanmediamalta.com/post/rethinking-collaboration-in-african-diaspora-communities-lessons-for-collective-growth</link>
      <description>Across the African diaspora, conversations about empowerment, visibility, and integration arebecoming increasingly prominent. Yet one critical factor often remains underexplored: the qualityof collaboration within our own communities.History reminds us that collective effort has always been central to African progress. As KwameNkrumah famously stated, “If we are to create the Africa we want, unity is our greatest strength.”While his words were directed at continental liberation, they remain stri</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/rethinking-collaboration-in-african-diaspora-communities-lessons-for-collective-growth</guid>
      <enclosure url="https://static.wixstatic.com/media/7d3433_9dde5d61f9d245ae90a8bb7b09ba42ae~mv2.webp/v1/fill/w_734,h_490,al_c,lg_1,q_80/7d3433_9dde5d61f9d245ae90a8bb7b09ba42ae~mv2.webp" length="0" type="image/webp"/>
      <pubDate>Thu, 22 Jan 2026 01:23:26 +0000</pubDate>
    </item>
    <item>
      <title>CommemorAction day in Valletta: all deaths will always matter</title>
      <link>https://www.africanmediamalta.com/post/commemoraction-day-in-valletta-all-deaths-will-always-matter</link>
      <description>Blue Door Education hosted the CommemorAction Day on 6 February, to mark a day of remembrance celebrated in multiple cities across Europe on the 7th February. The event honoured those who have died attempting to cross the Mediterranean, while calling for concrete political and legal action to prevent further loss of life.Speaking at the gathering, Justine Lublow from Blue Door Education, Regine Nguin from African Media Association Malta and Abbas Moussa from the Sudanese Community each addresse</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/commemoraction-day-in-valletta-all-deaths-will-always-matter</guid>
      <enclosure url="https://static.wixstatic.com/media/afbed2_bde2d14b8cb1417297e81916c415972e~mv2.jpg/v1/fill/w_1000,h_1000,al_c,q_85,usm_0.66_1.00_0.01/afbed2_bde2d14b8cb1417297e81916c415972e~mv2.jpg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 09 Feb 2026 17:29:00 +0000</pubDate>
    </item>
    <item>
      <title>Communication Is Not an Afterthought: A Sector Reflection on Social Impact</title>
      <link>https://www.africanmediamalta.com/post/communication-is-not-an-afterthought-a-sector-reflection-on-social-impact</link>
      <description>Communication is widely recognised as essential to social impact work. Yet across thesector, there remains a growing gap between the work being done and the audiences thatactually encounter it.Most funded social impact projects include dissemination plans, visibility requirements, andreporting obligations. In theory, communication is built into project design. In practice,however, it is often constrained by structural and funding frameworks that no longer fullyreflect how information, trust, and</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/communication-is-not-an-afterthought-a-sector-reflection-on-social-impact</guid>
      <enclosure url="https://static.wixstatic.com/media/7d3433_6963aa31722d44a6abf2d62ec6c13073~mv2.jpg/v1/fill/w_1000,h_665,al_c,q_85,usm_0.66_1.00_0.01/7d3433_6963aa31722d44a6abf2d62ec6c13073~mv2.jpg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 12 Feb 2026 03:25:43 +0000</pubDate>
    </item>
    <item>
      <title>Hairdressing is my passion</title>
      <link>https://www.africanmediamalta.com/post/hairdressing-is-my-passion</link>
      <description>She is a mother, a wife, and an immigrant from Guinea who has spent the last four years weaving herself into the fabric of Maltese society, one braid at a time. For our series Empowering Communities, we spoke with Mariam Kourouma, whose journey began in her childhood home in Guinea. "Hairdressing is my passion," she says, her eyes brightening. "This is work I have been doing since I was young. I was doing it at home, making my sister’s hair."Interview with Mariam Kourouma, Hair Dresser in Hamrun</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/hairdressing-is-my-passion</guid>
      <enclosure url="https://i.ytimg.com/vi/jJXg-oZP5MI/maxresdefault.jpg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 09 Mar 2026 08:41:47 +0000</pubDate>
    </item>
    <item>
      <title>ENTRY DENIED opens Thursday 12th March at 7pm </title>
      <link>https://www.africanmediamalta.com/post/entry-denied-opens-thursday-12th-march-at-7pm</link>
      <description>This is a satellite event of the Malta Biennale 2026 You are all invited Thursday 12th March 2026 at 7pm Christine X Art Gallery, 53, Tigne street c/w Hughes Hallet street, Sliema. The global art world prides itself on interconnectedness, mobility, and exchange, but it’sundeniable that a stark contradiction persists, with many artists being systematicallydenied the freedom to travel and participate in international cultural platforms due tovisa restrictions. For these individuals, mobility is</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/entry-denied-opens-thursday-12th-march-at-7pm</guid>
      <enclosure url="https://static.wixstatic.com/media/bdcd83_998d913b14e54be096611b925d2a711b~mv2.png/v1/fill/w_1000,h_563,al_c,q_90,usm_0.66_1.00_0.01/bdcd83_998d913b14e54be096611b925d2a711b~mv2.png" length="0" type="image/png"/>
      <pubDate>Wed, 11 Mar 2026 18:37:37 +0000</pubDate>
    </item>
    <item>
      <title>Study Finds Structural Barriers and Persistent Stereotypes in European Migration Coverage</title>
      <link>https://www.africanmediamalta.com/post/study-finds-structural-barriers-and-persistent-stereotypes-in-european-migration-coverage</link>
      <description>Migration remains one of the most debated issues across Europe, but media coverage often continues to rely on crisis narratives and stereotypes rather than reflecting the continent’s growing diversity. A new European report published by the MILD project (More Correct Information, Less Discrimination) highlights how structural barriers within journalism and persistent framing patterns contribute to the marginalisation of migrant voices in public discourse.The study, which brings together findings</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/study-finds-structural-barriers-and-persistent-stereotypes-in-european-migration-coverage</guid>
      <enclosure url="https://static.wixstatic.com/media/afbed2_60fbef3c01e24b15b727892dc29ab3ed~mv2.jpg/v1/fill/w_1000,h_812,al_c,q_85,usm_0.66_1.00_0.01/afbed2_60fbef3c01e24b15b727892dc29ab3ed~mv2.jpg" length="0" type="image/jpeg"/>
      <pubDate>Sat, 14 Mar 2026 12:04:04 +0000</pubDate>
    </item>
    <item>
      <title>Relooted: African futurist heist game launched available as part of exhibition in Malta</title>
      <link>https://www.africanmediamalta.com/post/relooted-african-futurist-heist-game-launched-available-as-part-of-exhibition-in-malta</link>
      <description>Relooted is a newly launched African futurist heist game designed by the game studio Nyamakop, based in Johannesburg, in which players reclaim 70 African artifacts from Western museums. Relooted (2026) by Nyamakop is one of the artworks selected by curator Maren Richter featuring in</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/relooted-african-futurist-heist-game-launched-available-as-part-of-exhibition-in-malta</guid>
      <enclosure url="https://static.wixstatic.com/media/afbed2_2714af9e81f74cfaa21e4f12370ffa76~mv2.png/v1/fill/w_1000,h_752,al_c,q_90,usm_0.66_1.00_0.01/afbed2_2714af9e81f74cfaa21e4f12370ffa76~mv2.png" length="0" type="image/png"/>
      <pubDate>Thu, 19 Mar 2026 08:19:46 +0000</pubDate>
    </item>
    <item>
      <title>Malta Faces Backlash Over Plan to Scrap Ministers’ Asset Declarations</title>
      <link>https://www.africanmediamalta.com/post/malta-faces-backlash-over-plan-to-scrap-ministers-asset-declarations</link>
      <description>The Maltese government is facing mounting criticism over proposed legal amendments that would abolish ministers’ asset declarations, a move opponents warn could enable corruption and conceal conflicts of interest.Under current rules, ministers must submit statements of their assets to the Cabinet Secretary. However, proposals tabled by the Justice Minister would remove this obligation entirely. Critics argue this risks allowing illicit financial activity to go unchecked.The debate has revived me</description>
      <guid isPermaLink="false">https://www.africanmediamalta.com/post/malta-faces-backlash-over-plan-to-scrap-ministers-asset-declarations</guid>
      <enclosure url="https://static.wixstatic.com/media/afbed2_0d0805e8003549398d2bc8971044a104~mv2.jpg/v1/fill/w_959,h_1000,al_c,q_85,usm_0.66_1.00_0.01/afbed2_0d0805e8003549398d2bc8971044a104~mv2.jpg" length="0" type="image/jpeg"/>
      <pubDate>Tue, 24 Mar 2026 17:28:12 +0000</pubDate>
    </item>
  </channel>
</rss>
