<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Springs Publishing LLC - Article Feed</title>
    <link>https://swelbyboy.github.io/prospect-rss-feeds/springs-publishing-llc.xml</link>
    <description>Latest articles from Springs Publishing LLC (reporternewspapers.net)</description>
    <atom:link href="https://swelbyboy.github.io/prospect-rss-feeds/springs-publishing-llc.xml" rel="self"/>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>Prospect Scraping Service</generator>
    <language>en</language>
    <lastBuildDate>Fri, 06 Mar 2026 07:11:31 +0000</lastBuildDate>
    <item>
      <title>‘They will die cruel deaths’ – Community Cat feeding program in Catch-22 situation</title>
      <link>https://roughdraftatlanta.com/2026/03/05/community-cat-program-estuary/</link>
      <description>CharleAnne Sher has been feeding 20 TNR cats at Estuary Apartments for 12 years, but apartment managers have told her to stop, leaving the cats in a difficult situation and Sher feeling "stabbed in the heart". The post ‘They will die cruel deaths’ – Community Cat feeding program in Catch-22 situation appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/05/community-cat-program-estuary/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/03/community-cats-charleanne-1-edited-600x400.jpg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 05 Mar 2026 19:40:22 +0000</pubDate>
    </item>
    <item>
      <title>Georgia House passes bill to let pharmacists dispense birth control without prescriptions</title>
      <link>https://roughdraftatlanta.com/2026/03/05/georgia-birth-control-pharmacies/</link>
      <description>Women could get birth control drugs directly from pharmacies without needing a doctor’s prescription, according to a bill that cleared the Georgia House on Wednesday. The proposal would expand availability of contraceptives in Georgia, where state law bans abortions once a doctor can detect fetal cardiac activity, which typically occurs around six weeks after conception and before […] The post Georgia House passes bill to let pharmacists dispense birth control without prescriptions appeared firs</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/05/georgia-birth-control-pharmacies/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/03/pexels-photo-4210612-600x400.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 05 Mar 2026 21:06:55 +0000</pubDate>
    </item>
    <item>
      <title>Democrat Elena Parent retiring from Georgia Senate</title>
      <link>https://roughdraftatlanta.com/2026/03/05/sen-elena-parent-retires/</link>
      <description>Sen. Elena Parent (D–Atlanta) announced March 5 that she will not be seeking re-election to the Georgia State Senate. “Serving in the Georgia State Senate has been the honor of a lifetime, and I am deeply grateful to the constituents who placed their trust in me to be their voice,” Parent said in a statement. […] The post Democrat Elena Parent retiring from Georgia Senate appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/05/sen-elena-parent-retires/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2020/10/parent-450x450.jpg" length="0" type="image/jpeg"/>
      <pubDate>Thu, 05 Mar 2026 23:19:46 +0000</pubDate>
    </item>
    <item>
      <title>Children’s Healthcare of Atlanta’s CEO Donna Hyland to retire</title>
      <link>https://roughdraftatlanta.com/2026/03/05/donna-hyland-legacy-childrens-healthcare/</link>
      <description>Children's Healthcare of Atlanta announced the retirement of its longtime CEO Donna Hyland, who will be succeeded by Dr. Patrick Frias, a former CHOA cardiologist, chief physician officer, and chief operating officer. The post Children’s Healthcare of Atlanta’s CEO Donna Hyland to retire appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/05/donna-hyland-legacy-childrens-healthcare/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2017/01/IMG_4448-1024x683.jpg" length="0" type="image/jpeg"/>
      <pubDate>Fri, 06 Mar 2026 00:21:27 +0000</pubDate>
    </item>
    <item>
      <title>Video targeting ‘sharia law’ draws a new candidate to lieutenant governor race</title>
      <link>https://roughdraftatlanta.com/2026/03/05/dolezel-campaign-video-criticism/</link>
      <description>State Sen. Greg Dolezal's campaign video depicting Muslims terrorizing white Georgia residents has drawn criticism from both sides of the aisle, while state Sen. Nabilah Parkes has entered the race for lieutenant governor to push back against xenophobic rhetoric. The post Video targeting ‘sharia law’ draws a new candidate to lieutenant governor race appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/03/05/dolezel-campaign-video-criticism/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/03/Sen.-Nabilah-Parkes-600x400.jpg" length="0" type="image/jpeg"/>
      <pubDate>Fri, 06 Mar 2026 04:23:35 +0000</pubDate>
    </item>
  </channel>
</rss>
