<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Springs Publishing LLC - Article Feed</title>
    <link>https://swelbyboy.github.io/prospect-rss-feeds/springs-publishing-llc.xml</link>
    <description>Latest articles from Springs Publishing LLC (reporternewspapers.net)</description>
    <atom:link href="https://swelbyboy.github.io/prospect-rss-feeds/springs-publishing-llc.xml" rel="self"/>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>Prospect Scraping Service</generator>
    <language>en</language>
    <lastBuildDate>Tue, 24 Feb 2026 07:18:59 +0000</lastBuildDate>
    <item>
      <title>Israeli Consulate pulls funding for Atlanta Jewish Film Festival over juror’s social media posts</title>
      <link>https://roughdraftatlanta.com/2026/02/23/israeli-consulate-pulls-funding-for-atlanta-jewish-film-festival-over-jurors-social-media-posts/</link>
      <description>The Consulate General of Israel to the Southeastern United States announced that it will end its partnership and financial support of the Atlanta Jewish Film Festival over a juror’s views on the state of Israel and the war in Gaza posted to social media. On Feb. 20, the Consulate released a statement that it would […] The post Israeli Consulate pulls funding for Atlanta Jewish Film Festival over juror’s social media posts appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/02/23/israeli-consulate-pulls-funding-for-atlanta-jewish-film-festival-over-jurors-social-media-posts/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/01/venue_Plaza_01-600x600.jpg?crop=1" length="0" type="image/jpeg"/>
      <pubDate>Mon, 23 Feb 2026 17:30:53 +0000</pubDate>
    </item>
    <item>
      <title>Police: 1 dead, 2 seriously injured in ‘targeted’ shooting in DeKalb</title>
      <link>https://roughdraftatlanta.com/2026/02/23/dekalb-county-shooting-investigation/</link>
      <description>Police are investigating a shooting in DeKalb that left several victims wounded and caused traffic delays, with the investigation still ongoing and a search for a suspect underway. The post Police: 1 dead, 2 seriously injured in ‘targeted’ shooting in DeKalb appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/02/23/dekalb-county-shooting-investigation/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2021/11/police_lights_insert_by_Bigstock-300x200.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 23 Feb 2026 17:37:39 +0000</pubDate>
    </item>
    <item>
      <title>Six food businesses become part of container courtyard at Pittsburgh Yards in Southwest Atlanta</title>
      <link>https://roughdraftatlanta.com/2026/02/23/pittsburgh-yards-container-courtyard-restaurants-retail-southwest-atlanta/</link>
      <description>Pittsburgh Yards has placed its final shipping container for its outdoor business courtyard, which features eleven retail and restaurant businesses, including coffee shop Urban Grind Brew Box, The Creamy Spot ice cream, and vegan hot dog stand Carrot Dog. The post Six food businesses become part of container courtyard at Pittsburgh Yards in Southwest Atlanta appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/02/23/pittsburgh-yards-container-courtyard-restaurants-retail-southwest-atlanta/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/02/Black-Box-Cafe-the-Final-Drop-at-the-Container-Courtyard-at-Pittsburgh-Yards-600x338.jpeg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 23 Feb 2026 18:25:33 +0000</pubDate>
    </item>
    <item>
      <title>Dunwoody police mourn the passing of longtime veteran William ‘Rusty’ Furman</title>
      <link>https://roughdraftatlanta.com/2026/02/23/major-william-furman-obituary/</link>
      <description>Major William "Rusty" Furman, one of the original officers of the Dunwoody Police Department, passed away after a battle with cancer, leaving behind a legacy of leadership, mentorship, and service. The post Dunwoody police mourn the passing of longtime veteran William ‘Rusty’ Furman appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/02/23/major-william-furman-obituary/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/02/Furman-William-1-edited-600x450.jpg?crop=1" length="0" type="image/jpeg"/>
      <pubDate>Mon, 23 Feb 2026 18:30:07 +0000</pubDate>
    </item>
    <item>
      <title>Trans candidates Aaron Baker and Robin McCoy run for Georgia General Assembly</title>
      <link>https://roughdraftatlanta.com/2026/02/23/transgender-candidates-georgia-assembly/</link>
      <description>Aaron Baker and Robin McCoy are both running the be the first transgender elected officials to the Georgia General Assembly. Baker, who is running for State House District 51, and McCoy, who’s running for State Senate District 5, met with voters at Lavender Bookshop on Feb. 22 for a community discussion about affordable housing, […] The post Trans candidates Aaron Baker and Robin McCoy run for Georgia General Assembly appeared first on Rough Draft Atlanta.</description>
      <guid isPermaLink="false">https://roughdraftatlanta.com/2026/02/23/transgender-candidates-georgia-assembly/</guid>
      <enclosure url="https://roughdraftatlanta.com/wp-content/uploads/2026/02/Aaron-left-and-Robin-600x400.jpg" length="0" type="image/jpeg"/>
      <pubDate>Mon, 23 Feb 2026 23:59:57 +0000</pubDate>
    </item>
  </channel>
</rss>
